<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base_url</key>
	<string>https://developers.zomato.com/api/v2.1</string>
	<key>api_key</key>
	<string>244436e7f6e32b328d7e856b4142d630</string>
</dict>
</plist>
